/* .home{ */
    /* background-image: url('/public/images/homeBgImage.png'); */
    /* position: relative; */
    /* width: 100%;
    height: auto;
    position: relative; */
/* } */

/* .bg_cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    flex-direction: column;

} */
 /* .home-inner{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
 } */

